.content-top {
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    height: 1100px;
}

nav {
    padding:20px;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.logo {
    display:inline-block;
}

.logo img {
    width:50px;
    height:50px;
}

.menu, .menu li{
    display:inline-block;
    padding:5px 10px 0px 10px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.menu a:hover {
    border-bottom: 3px solid white;
}

.search-form {
    margin: 50px 0 0 250px;
    width:500px;
    height: 550px;
    background-color: white;
    padding:30px;
}
.search-form h1 {
    font-size:40px;
}

.check-inout {
    display: grid;
    grid-template-columns: auto auto;
}

.submit-button {
    text-align: right;
}