

.grid-container {
    background-color:white;
    border:10px solid blue;
    display:grid;
    grid-template-columns:auto auto auto auto;
    /**/
    
    /**이미지를 배치할때*/
    /* justify-content: space-around; 메뉴 설정할때 */
}

.grid-item {
    
    background-color:rgb(154, 154, 207);
    border:1px solid black;
    padding:20px;
    font-size:20px;
    text-align:center;
}

.header{
    grid-column:1/3 span;
    grid-row:1/1 span;
}
.nav{
    grid-column:1/1 span;
    grid-row:2/2 span;
}
.photo{
    grid-column:2/2 span;
    grid-row:2/1 span;
}
.aside{
    grid-column:4/1 span;
    grid-row:1/2 span;
}
.section{
    grid-column:2/3 span;
    grid-row:3/1 span;
}
.footer{
    grid-column:1/4 span;
    grid-row:4/1 span;
}    

    



